@model BlogSitesi.Model.Entity.TblProject

@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/View.cshtml";
}





<h3>Yeni Proje Ekleleme Sayfası</h3>
<br />

<form method="post">

    @Html.HiddenFor(x => x.ProjectID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Resim URL")
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    @Html.Label("Resim URL")
    @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>



